@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-image-mask-info,
.ant-btn-loading-icon span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-card-actions li:nth-child(2) {
    margin: 0 !important;

}

.ant-card-actions li:nth-child(2) span {
    height: 100% !important;

}